# Build Output
dist/
.output/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.production

# MacOS-specific Files
.DS_Store

# Dev-related Directories 
/dev_checks
/dev_notes
/dev_templates

# Calendly Widget Fixes
src/components/ButtonScheduleNew1.astro
src/components/ButtonScheduleNew2.astro