---

//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS

//    ASTRO LAYOUT IMPORTS 

//    ASTRO PAGE-SPECIFIC IMPORTS 

//    FRAMEWORK-SPECIFIC IMPORTS 

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/

---

<label class="toggle_label happy_sad">
	<input type="checkbox" class="toggle_input" />
	<div class="toggle_div"></div>
</label>

<label class="toggle_label love_hate">
	<input type="checkbox" class="toggle_input" />
	<div class="toggle_div"></div>
</label>

<label class="toggle_label nerd_cool">
	<input type="checkbox" class="toggle_input" />
	<div class="toggle_div"></div>
</label>

<label class="toggle_label heart_break">
	<input type="checkbox" class="toggle_input" />
	<div class="toggle_div"></div>
</label>
<label class="toggle_label thumbs_up_down">
	<input type="checkbox" class="toggle_input" />
	<div class="toggle_div"></div>
</label>

<span class="bio__slide_instructions">Click on the emojis!</span>