---

//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS

//    ASTRO LAYOUT IMPORTS 

//    ASTRO PAGE-SPECIFIC IMPORTS 

//    FRAMEWORK-SPECIFIC IMPORTS 

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/

---
<section class="flexbox__basic_row" id="credentials__bibliography">
  <div class="flexbox__basic_column">
    <h2>Links</h2>
    <p>
      Herminia Ibarra & Anne Scoular. (2019, November-December). Harvard
      Business Review. The Leader as Coach: How to unleash innovation,
      energy, and commitment.
      <a
        href="https://hbr.org/2019/11/the-leader-as-coach "
        target="_blank"
        >https://hbr.org/2019/11/the-leader-as-coach</a
      >
    </p>
    <p>
      Larry Yu. (2007, January). The Benefits of a Coaching Culture:
      Coaching increases performance, productivity and job satisfaction
      at all level. MIT Sloan Management Review.
      <a
        href="https://sloanreview.mit.edu/article/the-benefits-of-a-coaching-culture/"
        target="_blank"
        >https://sloanreview.mit.edu/article/the-benefits-of-a-coaching-culture/</a
      >.
    </p>
    <p>
      Shana Lebowitz. (2018, September). A new breed of experts is going
      beyond executive and life coaches to help professionals conquer
      another area of their lives: dating. Business Insider.
      <a
        href="https://www.businessinsider.com/dating-coaches-help-successful-women-find-love-2018-9"
        target="_blank"
        >https://www.businessinsider.com/dating-coaches-help-successful-women-find-love-2018-9</a
      >
    </p>
    <p>
      Gene Hammett. (2018, April). Stop Listening to Those 'Personal
      Development Gurus': Use These 3 Strategies to Succeed Instead.
      Inc.
      <a
        href="https://inc.com/gene-hammett/everything-you-know-about-personal-development-is-probably-wrong-heres-how-to-fix-it.html"
        target="_blank"
        >https://inc.com/gene-hammett/everything-you-know-about-personal-development-is-probably-wrong-heres-how-to-fix-it.html</a
      >
    </p>
    <p>
      International Coaching Federation Home Page. (2021, March).
      <a href="https://coachingfederation.org" target="_blank"
        >https://coachingfederation.org</a
      >
    </p>
    <p>
      Coach U Home Page. (2021, March).
      <a href="https://www.coachu.com/home/" target="_blank"
        >https://coachu.com/home/</a
      >
    </p>
    <p>
      Rutgers Continuing Studies. Become an ICF-Certified Executive
      Coach. (2021, March).
      <a
        href="https://learnmore.rutgers.edu/leadership-certification/"
        target="_blank"
        >https://learnmore.rutgers.edu/leadership-certification/</a
      >
    </p>
    <p>
      International Coaching Federation. (2021, March). The Gold
      Standard in Coaching | ICF - ICF Credential.
      <a
        href="https://coachingfederation.org/credentials-and-standards"
        target="_blank"
        >https://coachingfederation.org/credentials-and-standards</a
      >
    </p>
    <p>
      International Coaching Federation. (2021, March). The Gold
      Standard In Coaching | ICF - MCC Path.
      <a
        href="https://coachingfederation.org/credentials-and-standards/mcc-path"
        target="_blank"
        >https://coachingfederation.org/credentials-and-standards/mcc-path</a
      >
    </p>
  </div>
  <div class="flexbox__basic_column">
    <h2>Further Reading</h2>
    <p>
      Andrew Thomas. (2019, March). 7 Ways to Know if a Business or Life
      Coach is Legit or an Imposter. Inc.
      <a
        href="https://www.inc.com/andrew-thomas/7-ways-to-know-if-a-business-or-life-coach-is-legit-or-an-imposter.html"
        target="_blank"
        >https://inc.com/andrew-thomas/7-ways-to-know-if-a-business-or-life-coach-is-legit-or-an-imposter.html</a
      >
    </p>
  </div>
</section>