---

//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS

//    ASTRO LAYOUT IMPORTS 

//    ASTRO PAGE-SPECIFIC IMPORTS 

//    FRAMEWORK-SPECIFIC IMPORTS 

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/

---

<section id="dating-tips__gallery_modal">
  <span class="dating-tips__gallery_line" />
  <div id="dating-tips__tips_container">
    <!-- HTML for individual dating tips is dynamically inserted into DOM, immediately beneath div#dating-tips__tips_container, using Javascript.  See /js/dating.tips.js.  -->
  </div>
  <span class="dating-tips__gallery_line" />
</section>

<!-- ASTRO COMPONENT IMPORTS SCRIPTS: DATINGTIPSGALLERYMODAL.ASTRO --> 
<script hoist type="module">
  import "../js/dating_tips.js";
</script>