---

//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS

//    ASTRO LAYOUT IMPORTS 

//    ASTRO PAGE-SPECIFIC IMPORTS 
import EachIssue from "./MCEachIssueIncludesItem.astro";

//    FRAMEWORK-SPECIFIC IMPORTS 

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/

---
<section class="flexbox__basic_row" id="meetcute__each_issue_includes">
  <h2>Each New Issue Includes</h2>
  <EachIssue imgSrc="/assets/icons/pencil-100.png" imgAlt="A pencil." itemHeading="A Message From Coach Bernadette" itemDesc="A personal message from Coach Bernadette to help you make the most of the season as a single!"/>
  <EachIssue imgSrc="/assets/icons/calendar-100.png" imgAlt="A calendar." itemHeading="Upcoming Events" itemDesc="Updates on -inperson and digital events for divorcees.  This inclues book chats, Master Classes, and much more!"/>
  <EachIssue imgSrc="/assets/icons/heart-50.png" imgAlt="A heart." itemHeading="The Heart Beat" itemDesc="A curated round-up of articles, videos, and podcasts dealing with dating, single life, and technology."/>
  <EachIssue imgSrc="/assets/icons/smartphone_with_hand-100.png" imgAlt="A smartphone." itemHeading="Dating App Spotlight" itemDesc="Technology has never made dating easier ... or more confusing!  We highlight apps that help single women become rockstar online daters."/>
  <EachIssue imgSrc="/assets/icons/dictionary-66.png" imgAlt="A dictionary." itemHeading="New Glossary of Modern Romance" itemDesc="To understand online dating, you need to understand it's unique vocabulary!  We explore new terms in each issue." />
  <EachIssue imgSrc="/assets/icons/money-96.png" imgAlt="A dollar bill."itemHeading="Dating Steals & Deals" itemDesc="Your search for true love shouldn't cost more than it has to!  Here we highlight dating steals & deals to help you save while you're looking for Mr. Right."/>
</section>

<!-- ASTRO COMPONENT IMPORTS SCRIPTS: FILE_NAME.ASTRO --> 