---

//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS
import Checkbox from "./Checkbox.astro";

//    ASTRO LAYOUT IMPORTS 

//    ASTRO PAGE-SPECIFIC IMPORTS 

//    FRAMEWORK-SPECIFIC IMPORTS 

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/

---

<Checkbox>
  Feel confident, comfortable, and totally in control.
</Checkbox>
<Checkbox>
  Easily recognize compatible men who could be potential partners.
</Checkbox>
<Checkbox>
  Know the right questions to ask to quickly screen high-quality men.
</Checkbox>
<Checkbox>
  Know how to emotionally connect with men you're interested in.
</Checkbox>
<Checkbox>
  Be a pro at reading between the lines of men's profiles, messages, & texts.
</Checkbox>
<Checkbox>
  Know what to say and what <span class="utility_classes__emphasis">not</span> to say returning emails, texts, and on first dates.
</Checkbox>
<Checkbox>
  Quickly ID & steer clear of phonies, liars, & players.
</Checkbox>
<Checkbox>
  Screen for deal breakers before going on a first date so you don't waste your time.
</Checkbox>
<Checkbox>
  Know how to attract the right men with traits that will bring you a lifetime of happiness.
</Checkbox>
<Checkbox>
  Know if the men you choose have long-term potential <span class="utility_classes__emphasis">before</span> you commit.
</Checkbox>
<Checkbox>
  Be certain the next man in your life will be a genuinely compatible partner.
</Checkbox>
<Checkbox>
  Have a customized Dating Plan in place that will help you successfully navigate every step of the online dating process.
</Checkbox>