main#main,
main#page_not_found {
  //
  section#welcome {
    // Styles MainWelcome Astro component.
    ///
    h1 + p {
      max-width: 45ch;
      margin: 0 auto;
      font-size: 1.65rem;
      font-weight: var(--typography__bold);
    }
    ///
    #main__welcome_container {
      justify-content: space-evenly;
      align-items: center;
      // 75% of the section.hero_gray top-and-bottom padding.
      padding: 2.34275rem;
      ////
      @media screen and (max-width: 1024px) {
        // Reset flex direction so card "wraps" when Coach Bernadette gets too close to left-hand side of card.
        flex-direction: column;
      }
    }
    ///
    #main__welcome_image_and_animation {
      position: relative;
    }
    ///
    #main__welcome_card {
      > p:not(:first-of-type) {
        max-width: 35ch;
        font-size: 1.25rem;
      }
      p:nth-of-type(2) {
        margin-bottom: 1rem;
      }
    }
  }
  //
  section#main__why_is_compatibility_important {
    // Styles MainCompatibility Astro component.
    // Override default overflow: hidden to allow compatibility hearts to float above section.
    overflow: visible;
    ///
    .hearts_compatibility__hearts {
      // Styles & overrides HeartsCompatibility Astro component.
      ////
      @media (max-width: 850px) {
        // Hide animated hearts when "Why Is Compatibility Important?" wraps.
        display: none;
        animation: initial;
      }
    }
  }
  //
  section#main__explore_our_website {
    // Styles MainExplore Astro component.
    ///
    div.block_image_and_text {
      // Styles & override ImageBlockText Astro component.
      // Row-reverse places images in block on right, text on left.
      flex-direction: row-reverse;
    }
  }
}

main#page_not_found {
  // Styles 404 Astro page.
  justify-content: center;
  align-items: center;
  //
  div#main__welcome_container {
    justify-content: space-around;
    width: 80vw;
  }
  //
  div#main__welcome_image_and_animation {
    display: grid;
    place-items: center;
  }
  //
  div#main__welcome_text {
    justify-content: center;
    align-items: center;
    ///
    > p {
      text-align: center;
      width: 35ch;
      font-size: 2rem;
      font-weight: var(--typography__bold);
    }
    ///
    p:nth-of-type(2) {
      margin-bottom: 25px;
      font-size: 1.5rem;
    }
    p.main__404_instructions {
      margin-top: 25px;
      font-size: 1.25rem;
    }
  }
}
