main#resources {
  //
  section:not(#lets_connect__container) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ///
    h2 {
      margin-bottom: 2rem;
    }
    ///
    p {
      font-size: 1.125rem;
    }
    ///
    div.resources__rec_card {
      // Styles RecCard Astro component.
      border: 1px solid var(--colors__black);
      background-color: var(--colors__white);
      ////
      @media screen and (max-width: 1130px) {
        // Change flex-direction from row to column to reflow cards on smaller screens.
        flex-direction: column;
      }
      ////
      @media screen and (max-width: 575px) {
        margin: 2rem 0;
      }
    }
  }
  section#resources__explainer {
    // Styles & overrides HeroGray Astro component.
    ///
    p {
      max-width: 55ch;
      font-size: 1.125rem;
    }
    ///
    p:first-of-type {
      text-align: center;
      max-width: 45ch;
      margin-bottom: 1.5625rem;
      font-size: 1.5625rem;
      font-weight: var(--typography__bold);
    }
  }
  //
  section#resources__articles {
    // Styles & overrides SectionGray Astro component.
    padding: 1.5rem;
    ///
    > div {
      // Flex container containing <ArticleCard> Astro components.
      justify-content: center;
      gap: 3rem;
    }
    ///
    .resources__article_card {
      // Styles ArticleCard Astro component.
      justify-content: center;
      align-items: center;
      // Align cards at flex-end to ensure cards line-up horizontally.
      align-self: flex-end;
      width: clamp(490px, 40%, 80%);
      border-radius: var(--boxmodel__default_border_radius);
      border: 2px solid var(--colors__brand_color_1);
      background-color: var(--colors__white);
      ////
      h3 {
        // Article card title.
        max-width: 35ch;
        margin-bottom: 1.5625rem;
        font-family: var(--typography__font_family_1);
        font-size: 1.25rem;
      }
      ////
      img {
        // Article card image.
        width: clamp(160px, 50%, 260px);
        height: auto;
        width: clamp(160px, 50%, 260px);
        margin-bottom: 1.5625rem;
        opacity: 0.75;
      }
      ////
      p {
        display: inline-block;
        // Flex-grow ensures "Keep Reading" button on all cards is pushed to bottom of card, regardless of how long blurb text is.
        flex-grow: 1;
        max-width: 50ch;
        font-size: 1rem;
      }
      ////
      a.button {
        width: 50%;
        height: 75px;
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
        /////
        @media screen and (max-width: 1312px) {
          // Article cards currently (6/17/22) wrap at 1312px.
          width: 80%;
        }
        /////
        @media screen and (max-width: 575px) {
          // Hacky media query added to...counter-act media query in buttons.  This should be resolved when I go back and audit buttons & links.
          margin-bottom: 2rem;
        }
      }
    }
  }
  //
  section#resources__book_recommendations {
    // Styles & overrides SectionGray Astro component.
    ///
    div[data-card="book"] {
      justify-content: space-around;
      align-items: center;
      width: 90%;
      ////
      div.resources__rec_card_media {
        justify-content: center;
        align-items: center;
        width: 25%;
        /////
        @media screen and (max-width: 1130px) {
          width: 100%;
        }
        /////
        @media screen and (max-width: 575px) {
          display: none;
        }
        /////
        img {
          width: 200px;
          height: 300px;
        }
      }
      ////
      div.resources__rec_card_text {
        justify-content: center;
        align-items: center;
        width: 75%;
        /////
        @media screen and (max-width: 1130px) {
          width: 100%;
        }
        /////
        div {
          justify-content: center;
          align-items: center;
          width: 80%;
          //////
          @media screen and (max-width: 1130px) {
            width: 90%;
          }
        }
        /////
        div:first-of-type {
          //////
          h3 {
            margin-bottom: -0.02rem;
            font-family: var(--typography__font_family_1);
            font-size: 1.4rem;
            font-style: italic;
            font-weight: var(--typography__bold);
            ///////
            @media screen and (max-width: 902px) {
              // Reset max-width on text wrap to enhance legibility.
              max-width: 30ch;
            }
            ///////
            @media screen and (max-width: 575px) {
              margin-bottom: 0.25rem;
            }
          }
          ///////
          span {
            font-size: 1.25em;
            font-weight: var(--typography__semi_bold);
          }
          ///////
          h3,
          span {
            text-align: center;
          }
          ///////
          a {
            width: clamp(175px, 40%, 250px);
          }
        }
        //////
        div:nth-of-type(2) {
          justify-content: center;
          align-items: center;
          ///////
          p {
            display: inline-block;
            max-width: 65ch;
            text-align: initial;
            font-size: 1rem;
            font-weight: var(--typography__normal);
            ///////
            @media screen and (max-width: 785px) {
              max-width: initial;
              width: 100%;
              &:nth-of-type(2) {
                // Hacky way to prevent second <p slot="text"> from being flush with bottom border.
                margin-bottom: 2rem;
              }
            }
          }
        }
      }
    }
  }
  //
  section#resources__videos {
    ///
    div[data-card="video"] {
      justify-content: space-around;
      align-items: center;
      width: 90%;
      ////
      div.resources__rec_card_media {
        justify-content: center;
        align-items: center;
        width: 25%;
        //////
        @media screen and (max-width: 1500px) {
          width: 100%;
        }
        /////
        iframe {
          width: 350px;
          height: 250px;
          //////
          @media screen and (max-width: 1500px) {
            width: 100%;
          }
        }
      }
      ////
      div.resources__rec_card_text {
        justify-content: center;
        align-items: center;
        width: 75%;
        /////
        @media screen and (max-width: 1500px) {
          width: 100%;
        }
        /////
        div {
          justify-content: center;
          align-items: center;
          width: 80%;
          //////
          @media screen and (max-width: 1500px) {
            width: 90%;
          }
        }
        /////
        div:first-of-type {
          //////
          h3 {
            margin-bottom: -0.02rem;
            font-family: var(--typography__font_family_1);
            font-size: 1.4rem;
            font-weight: var(--typography__bold);
            ///////
            @media screen and (max-width: 902px) {
              // Reset max-width on text wrap to enhance legibility.
              max-width: 30ch;
            }
            ///////
            @media screen and (max-width: 575px) {
              margin-bottom: 0.25rem;
            }
          }
          //////
          span {
            font-size: 1.25em;
            font-weight: var(--typography__semi_bold);
          }
          //////
          h3,
          span {
            text-align: center;
          }
          //////
          a {
            // Remove "Amazon Link" from DOM for video recommendations.
            display: none;
          }
        }
        /////
        div:nth-of-type(2) {
          justify-content: center;
          align-items: center;
          //////
          p {
            display: inline-block;
            max-width: 65ch;
            text-align: initial;
            font-size: 1rem;
            font-weight: var(--typography__normal);
            ///////
            @media screen and (max-width: 785px) {
              max-width: initial;
              width: 100%;
              ////////
              &:nth-of-type(2) {
                // Hacky way to prevent second <p slot="text"> from being flush with bottom border.
                margin-bottom: 2rem;
              }
            }
          }
        }
      }
    }
  }
}
