---

//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS

//    ASTRO LAYOUT IMPORTS 

//    ASTRO PAGE-SPECIFIC IMPORTS 

//    FRAMEWORK-SPECIFIC IMPORTS 

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/

---

<div class="bio_cloud">
  <div class="bio_cloud__canvas">
    <div class="bio_cloud__cloud">
      <div class="bio_cloud__cloud_copy"></div>
      <div class="bio_cloud__rain">
        <div class="bio_cloud__drop"></div>
        <div class="bio_cloud__drop"></div>
        <div class="bio_cloud__drop"></div>
        <div class="bio_cloud__drop"></div>
        <div class="bio_cloud__drop"></div>
        <div class="bio_cloud__drop"></div>
        <div class="bio_cloud__drop"></div>
        <div class="bio_cloud__drop"></div>
        <div class="bio_cloud__drop"></div>
        <div class="bio_cloud__drop"></div>
        <div class="bio_cloud__lightning"></div>
      </div>
    </div>
  </div>
</div>