---

//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS

//    ASTRO LAYOUT IMPORTS 

//    ASTRO PAGE-SPECIFIC IMPORTS 

//    FRAMEWORK-SPECIFIC IMPORTS 

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/

---

<div class="flexbox__basic_column bio_dating_app">
   <img
     src="/assets/images/bio-dating_app.jpg"
     alt="A green face emoiji that looks like it's about to puke."
     loading="lazy"
   />
   <span>Welcome Back, Bernadette!</span> 
   <span>Sign In For <em>Another</em> Bad Date?</span>
   <span class="bio_dating_app__fake_form">Username</span>
   <span class="bio_dating_app__fake_form">Password</span>
   <span class="bio_dating_app__fake_button">Login</span>
   <span>Wish You Could Just Forget Your Password?</span>
   <span>Ready To Delete Your Account?</span>
   <span class="bio_dating_app__fake_button">I Give Up!</span>
</div>