---

//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS

//    ASTRO LAYOUT IMPORTS 

//    ASTRO PAGE-SPECIFIC IMPORTS 

//    FRAMEWORK-SPECIFIC IMPORTS 

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/

---

<div class="bio_rocket">
  <i class="bio_rocket__external_tank">
    <i class="rocket_booster"></i>
  </i>
  <i class="bio_rocket__shuttle">
    <i class="bio_rocket__window"></i>
  </i>
  <i class="bio_rocket__thrusters"></i>
  <i class="bio_rocket__flames"></i>
  <i class="bio_rocket__flames bio_rocket__right"></i>
  <i class="bio_rocket__smoke">
    <i class="bio_rocket__s_1"></i>
    <i class="bio_rocket__s_2"></i>
    <i class="bio_rocket__s_3"></i>
    <i class="bio_rocket__s_4"></i>
    <i class="bio_rocket__s_5"></i>
    <i class="bio_rocket__s_6"></i>
    <i class="bio_rocket__s_7"></i>
    <i class="bio_rocket__s_8"></i>
    <i class="bio_rocket__s_9"></i>
    <i class="bio_rocket__s_10"></i>
    <i class="bio_rocket__s_11"></i>
    <i class="bio_rocket__s_12"></i>
    <i class="bio_rocket__s_13"></i>
    <i class="bio_rocket__s_14"></i>
    <i class="bio_rocket__s_15"></i>
    <i class="bio_rocket__s_16"></i>
    <i class="bio_rocket__s_17"></i>
    <i class="bio_rocket__s_18"></i>
    <i class="bio_rocket__s_19"></i>
    <i class="bio_rocket__s_20"></i>
  </i>
</div>