---

//    CSS & STYLE IMPORTS


//    ASTRO COMPONENT IMPORTS

//    ASTRO PAGE-SPECIFIC IMPORTS
import ContentCollab from "./ContentCollab.astro"

//    FRAMEWORK-SPECIFIC IMPORTS 

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/

---

        <ContentCollab linkId="content_creators__articles_and_blog_posts" media="Articles & Blog Posts">
          <p slot="after_h2">
Let's face it: creating engaging content to share on your website (or on social media) is hard, especially if you can't afford to hire another team member. 
          </p>
          <p slot="paragraphs" class="utility_classes__center">
          Let us help you get off the content creation hamster wheel!
          </p>
          <p slot="paragraphs">
           Partner with us to brainstorm & co-write your next blog post. Quote us in your next long-form article (or article pitch) on life after divorce, dating, or modern romance.  
          </p>
          <p slot="paragraphs">
            We've been working with divorced women for decades, and we'd be happy to share our experiences and insights with you! 
          </p>
          <h3 slot="topics">Articles & Blog <span class="utility_classes__clean_break_on_wrap">Post Topics</span></h3>
          <ul slot="topics">
            <li>
              <img src="../../assets/icons/heart-50.png" loading="lazy" />
              <span>How To Find A Compatible Partner To Fall In Love With</span>
              </li>
              <li>
              <img src="../../assets/icons/heart-50.png" loading="lazy" />
              <span
                >The Real Reason You Haven't Met The Love Of Your Life
                </span
              >
            </li>
            <li>
              <img src="../../assets/icons/heart-50.png" loading="lazy" />
              <span>Could Your Dream Partner Pass You By? Forget the LIST!</span>
            </li>

            <li>
              <img src="../../assets/icons/heart-50.png" loading="lazy" />
              <span
                >Your Future Husband: The BIG Questions
                </span
              >
            </li>

            <li>
              <img src="../../assets/icons/heart-50.png" loading="lazy" />
              <span
                >Partner With Yourself First: Compatibility Leads To Intimacy!
                </span
              >
            </li>
         </ul>
        </ContentCollab>