---

//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS

//    ASTRO PAGE-SPECIFIC IMPORTS
import ContentCollab from "./ContentCollab.astro"

//    FRAMEWORK-SPECIFIC IMPORTS 

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES


/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/

---

        <ContentCollab linkId="content_creators__podcasts" media="Podcasts">
          <p slot="after_h2">
            If you regularly produce a podcast, we can help you create fresh &
            engaging content divorced listeners will love.
          </p>
          <p slot="paragraphs">
            If you've never worked one-on-one with divorced women before, you
            might be surprised how many of them turn to podcasts for support
            during and after their divorce.
          </p>
          <p slot="paragraphs">
            Divorce can be a lonely and bewildering experience, and, in contrast
            to more traditional "print media", podcasts offer women a chance to
            literally hear from others who've faced similar challenges and
            grappled with similar fears.
          </p>
          <p slot="paragraphs">
            Compatible Connections is open to working with podcasters to develop
            content that will drive engagement and grow their pool of regular
            listeners.
          </p>
          <p slot="paragraphs">
            You can find examples of possible podcast topics, as well as
            recordings of previous podcast collaborations, below.
          </p>
          <h3 slot="topics">Podcast Topics</h3>
          <ul slot="topics">
            <li>
              <img src="../../assets/icons/heart-50.png" loading="lazy" />
              <span>7 Massive Mistakes You're Making In Dating </span>
              </li>
              <li>
              <img src="../../assets/icons/heart-50.png" loading="lazy" />
              <span
                >12 Steps to Right Mindset Dating: What To Let Go Of & What To
                Holt OnTo</span
              >
            </li>

            <li>
              <img src="../../assets/icons/heart-50.png" loading="lazy" />
              <span>The Science Behind Forever After</span>
            </li>

            <li>
              <img src="../../assets/icons/heart-50.png" loading="lazy" />
              <span
                >Random Dating vs. Deliberate Dating: What Works, What Doesn't,
                & Why</span
              >
            </li>

            <li>
              <img src="../../assets/icons/heart-50.png" loading="lazy" />
              <span>Shopping For Love Online: What You Need to Know</span>
            </li>

            <li>
              <img src="../../assets/icons/heart-50.png" loading="lazy" />
              <span
                >Martial Autopsy: 3 Questions To Bridge the Gap Between Where
                You Are & Where You'd Like To Be</span
              >
            </li>
          </ul>
        </ContentCollab>