---

//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS

//    ASTRO PAGE-SPECIFIC jjIMPORTS

//    FRAMEWORK-SPECIFIC IMPORTS 

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// to do: create & implement JS varaibles for e-mail, telephone, and discoverry sessions links.
///  seems like it would be convenient to collect them all in one place in case anything every changes.

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/

---

<div id="discovery-session__lets_connect_info">
  <div>
    <img
      src="/assets/icons/contact_book-34.png"
      alt="Contact book icon."
    /><span>Your First & Last Name</span>
  </div>
  <div>
    <img src="/assets/icons/email-50.png" alt="Email icon." /><span
      >Your E-mail Address</span
    >
  </div>
  <div>
    <img src="/assets/icons/phone-50.png" alt="Phone icon." /><span
      >Your Phone Number</span
    >
  </div>
  <div>
    <img src="/assets/icons/question-34.png" alt="Question mark icon." />
    <span>How Long Have You Been Divorced?</span>
  </div>
</div>