---

//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS

//    ASTRO LAYOUT IMPORTS 

//    ASTRO PAGE-SPECIFIC IMPORTS 

//    FRAMEWORK-SPECIFIC IMPORTS 

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.




//    PAGE-SPECIFIC VARIABLES

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/

---
<section id="inspirational_graphics__gallery_modal">
  <span class="inspirational_graphics__gallery_line" /> 
  <div id="inspirational_graphics__graphics_container">
        <!-- HTML for individual dating tips is dynamically inserted into DOM, immediately beneath div#inspirational_graphics__graphics_container, using Javascript.  See /js/inspirational_graphics.js.  -->
  </div>
  <span class="inspirational_graphics__gallery_line" />
</section>

<!-- ASTRO COMPONENT IMPORTS SCRIPTS: IGGALLERYMODAL.ASTRO --> 
<script hoist type="module">
  import "../js/inspirational_graphics.js";
</script>