---

//    ASTRO COMPONENT IMPORTS
import CardTextPlain from "./CardTextPlain.astro";

//    ASTRO PAGE-SPECIFIC IMPORTS
import HeartsCoachBernadette from "./HeartsCoachBernadette.astro";

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/

---
<section id="welcome">
  <h1>Welcome, <span class="utility_classes__clean_break_on_wrap">Fabulous Single!</span></h1>
  <p class="utility_classes__center">Ready to leave the uncertainty and fear of choosing the wrong partner again behind you?</p>
  <div class="flexbox__basic_row" id="main__welcome_container">
    <div id="main__welcome_image_and_animation">
      <HeartsCoachBernadette>Compatibility.</HeartsCoachBernadette>
      <!-- Set explicit width & height on img to prevent layout shift on load.-->
      <img
        src="../../assets/images/coach_bernadette_hello_redux-1-alpha.png"
        alt="A drawing of Coach Bernadette smiling & waving."
        width="258px"
        height="518px"
        loading="lazy"
      />
    </div>
      <CardTextPlain id="main__welcome_card">
        <p>Most divorcées aren't afraid to date, they're afraid of making dating mistakes.</p>
        <p>
          We can help!
        </p>
        <p>
          Our services are based on the Science Behind Forever After.
        </p>
        <p>
         Our clients become confident, conscious daters who understand the importance of compatibility and the role it plays in forming lasting relationships.
        </p>
        <p>
          Our mission is to show every woman we work with how to find the love of their life after divorce.
        </p>
      </CardTextPlain>
  </div>
</section>