---

//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS

//    ASTRO LAYOUT IMPORTS 
import SectionGray from "../layout/SectionGray.astro"
import ImageAndTextBlock from "../layout/ImageAndTextBlock.astro";

//    ASTRO PAGE-SPECIFIC IMPORTS

//    FRAMEWORK-SPECIFIC IMPORTS 

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/

---

<SectionGray id="main__explore_our_website">
  <h2>Explore Our Website</h2>
    <!-- EXPLORE OUR SERVICES -->
    <ImageAndTextBlock>
      <img
        src="../../assets/images/explore_our_services-3.png"
        alt="A woman holding
              her right hand above her eyes as she looks to the horizon."
        loading="lazy"
        slot="image"
      />
        <h3 slot="text">Explore Our Services</h3>
        <p slot="text">
          Ready to meet the man of your dreams? Let us help! Here you'll find all
          the information you need to familiarize yourself with Compatible
          Connections' services. In addition to
          <a href="/coaching">One-on-One Coaching</a>, we also offer two
          Signature Series -
          <a href="/pwyf"> Partner With Yourself First</a>
          and
          <a href="/sss">Seek, Sort & Select </a>
          - to help you master the art of online dating & find the love of your
          life after divorce.
        </p>
    </ImageAndTextBlock>
    <!--ABOUT US -->
    <ImageAndTextBlock>
      <img
        src="../../assets/images/cc_logo.png"
        alt="Compatible Connections' logo."
        loading="lazy"
        slot="image"
      />
        <h3 slot="text">About Us</h3>
        <p slot="text">
          Finding a qualified Dating Coach who's right for
          <span class="utility_classes__emphasis">you</span> is hard. That's why an entire section
          of our site is dedicated to sharing our story with prospective clients!
          Here you'll find a
          <a href="/letter"
            >Letter from Coach Bernadette</a
          >, a detailed breakdown of
          <a href="/certifications"
            >Coach Bernadette's certifications</a
          >, <a href="/bio">Coach Bernadette's bio</a>,
          and <a href="/raves">former clients' raves</a>.
        </p>
    </ImageAndTextBlock>
    <!-- RESOURCES FOR DIVORCED DATERS -->
    <ImageAndTextBlock>
      <img
        src="../../assets/images/resources_for_divorced_daters-15-bg.png"
        alt="A young woman sitting on an arm chair with a laptop in her lap."
        loading="lazy"
        slot="image"
      />
        <h3 slot="text">Resources for Divorced Daters</h3>
        <p slot="text">
          Everyone needs help dealing with life after divorce. Here you'll find a
          curated list of 
          <a href="/resources#resources__articles">articles</a>, <a href="/resources#resources__videos">videos</a>,
          and <a href="/resources#resources__book_recommendations">book recommendations</a>, as well as
          <a href="/dating_tips">Dating Tips</a>
          and
          <a href="/inspirational_graphics">Inspirational Graphics</a>.
        </p>
    </ImageAndTextBlock>
    <!-- THE MEET-CUTE-->
    <ImageAndTextBlock>
      <img
        src="../../assets/images/meet_cute-7.png"
        alt="The Meet Cute's masthead."
        loading="lazy"
        slot="image"
      />
        <h3 slot="text"><i>The Meet-Cute</i></h3>
        <p slot="text">
          Two-to-four times a year, we publish a free newsletter chocked full of
          fun, light, and flirty information divorced women can apply
          <span class="utility_classes__emphasis">directly</span> to their dating lives. We call
          our newsletter <span class="utility_classes__emphasis">The Meet-Cute</span> and here you
          can read our <a href="/meetcute/issue_4">current issue</a>,
          browse <a href="/meetcute#meetcute__issues">back issues</a>, or
          <a href="/meetcute#meetcute__subscribe_gifts">become a subscriber</a>
          yourself!
        </p>
    </ImageAndTextBlock>
    <!-- WORK WITH US  -->
   <ImageAndTextBlock>
      <img
      src="../../assets/images/work_with_us-2-bg.png"
      alt="A young woman sits a desk working on her laptop."
      loading="lazy"
      slot="image"
    />
      <h3 slot="text">Work With Us</h3>
      <p slot="text">
        Ready to take the next step and work with us? Great! We're ready to work
        with you! Here prospective clients can
        <a href="/discovery_session">schedule a Discovery Session</a> and
        content creators can learn about how they can
        <a href="/content_creators/">collaborate with us.</a>
      </p>
    </ImageAndTextBlock>
</SectionGray>