---

//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS

//    ASTRO LAYOUT IMPORTS 
import HeroGray from "../layout/HeroGray.astro";

//    ASTRO PAGE-SPECIFIC IMPORTS 

//    FRAMEWORK-SPECIFIC IMPORTS 

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/

---
<HeroGray id="meetcute__explainer">
  <img src="/assets/images/woman_reading_paper.png" alt="A woman sits in a chair reading an open newspaper." class="transparent"/>
  <div class="flexbox__basic_column">
    <p>The <i>Meet-Cute</i> is Compatible Connections' way of saying "thank you" to all the fabulous singles who make our work possible.</p>
    <p>Whenever we can, we share a heartfelt e-mail with our subscribers, chocked full of fun, light, flirty, and informative content.</p>
    <p>Our publication schedule varies depending on client work - clients come first! - but we try to release at least two and no more than four issues per year.</p>
    <p>All new subscribers receive two free gifts - <a href="/meetcute#meetcute__subscribe_gifts">8 Things Online Dating Sites Don't Want You To Know</a> and a <a href="/meetcute#meetcute__subscribe_gifts">Partner With Yourself First Personal Inventory</a> - when they sign up to receive new issues.</p>
      <a href="/meetcute#meetcute__subscribe_gifts" class="utility_classes__reset button buttons__expanding">
        Click Here To Subscribe!
      </a>
  </div>
</HeroGray>