---

//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS

//    ASTRO LAYOUT IMPORTS 

//    ASTRO PAGE-SPECIFIC IMPORTS 

//    FRAMEWORK-SPECIFIC IMPORTS 

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/

---
<section class="mc_issue__section" id="mc_issue__message">
  <h2>A Message From Coach Bernadette</h2>
  <slot name="messageContent"></slot>
  <img id="mc_issue__signature" src="/assets/images/svg_paths/coach_bernadette_signature.svg" alt="Coach Bernadette's cursive signature." loading="lazy" />
</section>
<!-- ASTRO COMPONENT IMPORTS SCRIPTS: FILE_NAME.ASTRO --> 