---

//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS

//    ASTRO PAGE-SPECIFIC IMPORTS 

//    FRAMEWORK-SPECIFIC IMPORTS 

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/

---

<nav class="nav__sticky" id="nav__nav_desktop">
  <ul>
    <li id="nav__home">
      <a href="/">
        <img
          class="nav__icon"
          src="/assets/icons/home-64.png"
          alt="Home Navigation Icon"
        />
      </a>
    </li>
    <li id="nav__explore_our_services">
      OUR SERVICES
      <ul>
        <li>
          <a href="/coaching"
            >One-on-One Coaching</a
          >
        </li>
        <li>
          <a href="/pwyf"
            >Partner With Yourself First</a
          >
        </li>
        <li>
          <a href="/sss"
            >Seek, Sort, & Select</a
          >
        </li>
      </ul>
    </li>
    <li id="nav__about_us">
      ABOUT US
      <ul>
        <li>
          <a
            href="/letter"
            >A Letter From Coach Bernadette</a
          >
        </li>
        <li>
          <a
            href="/bio"
            >Coach Bernadette's Bio</a
          >
        </li>
        <li>
          <a
            href="/certifications"
            >Coach Bernadette's Certifications</a
          >
        </li>
        <li>
          <a href="/raves">Raves</a>
        </li>
      </ul>
    </li>
    <li id="nav__resources_for_divorced_daters">
      RESOURCES FOR DIVORCED DATERS
      <ul>
        <li>
          <a href="/resources">Overview</a>
        </li>
        <li>
          <a href="/resources#resources__articles">Articles</a>
        </li>
        <li>
          <a href="/dating-tips"
            >Dating Tips</a
          >
        </li>
        <li>
          <a href="/resources#resources__videos">Videos</a>
        </li>
        <li>
          <a
            href="/inspirational-graphics"
            >Inspirational Graphics</a
          >
        </li>
        <li>
          <a href="/resources#resources__book_recommendations"
            >Book Recommendations</a
          >
        </li>
      </ul>
    </li>
    <li id="nav__the_meet_cute">
      THE MEET-CUTE
      <ul>
        <li>
          <a href="/meetcute">
           Overview 
          </a>
        </li>
        <li>
          <a
            href="/meetcute/issue-4"
            >Latest Issue</a
          >
        </li>
        <li>
          <a href="/meetcute#meetcute__issues">Back Issues</a>
        </li>
        <li>
          <a href="/meetcute#meetcute__subscribe_gifts">
          Subscribe</a>
        </li>
      </ul>
    </li>
    <li id="nav__work_with_us">
      WORK WITH US
      <ul>
        <li>
          <a
            href="/discovery-session"
            >Schedule A Discovery Session</a
          >
        </li>
        <li>
          <a href="/content-creators"
            >For Content Creators</a
          >
        </li>
      </ul>
    </li>
    <li id="nav__client_login">
      <a href="">
        <img
          class="nav__icon"
          src="/assets/icons/enter-48.png"
          alt="Client Login icon."
          id="client_login--icon"
        />
      </a>
    </li>
  </ul>
</nav>