---

//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS

//    ASTRO PAGE-SPECIFIC IMPORTS

//    FRAMEWORK-SPECIFIC IMPORTS 

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/

---

<nav id="nav__mobile_links">
  <ul>
    <li>
      <details>
        <summary>
          <span>Explore Our Services</span>
        </summary>
        <li>
          <a
            href="/coaching"
            class="nav__mobile_link"
            >One-on-One Coaching</a
          >
        </li>
        <li>
          <a
            href="/pwyf"
            class="nav__mobile_link"
            >Partner With Yourself First</a
          >
        </li>
        <li>
          <a
            href="/sss"
            class="nav__mobile_link"
            >Seek, Sort, & Select</a
          >
        </li>
      </details>
    </li>
    <li>
      <details>
        <summary>
          <span>About Us</span>
        </summary>
        <li>
          <a
            href="/letter"
            class="nav__mobile_link"
            >A Letter From Coach Bernadette</a
          >
        </li>
        <li>
          <a
            href="/bio"
            class="nav__mobile_link"
          >
            Coach Bernadette's Bio</a
          >
        </li>
        <li>
          <a
            href="/certifications"
            class="nav__mobile_link"
            >Coach Bernadette's Certifications</a
          >
        </li>

        <li>
          <a
            href="/raves"
            class="nav__mobile_link"
            >Raves</a
          >
        </li>
      </details>
    </li>
    <li>
      <details>
        <summary>
          <span>Resources For Divorced Daters</span>
        </summary>
        <li>
          <a href="/resources">Overview</a>
        </li>
        <li>
          <a
            href="/resources#resources__articles"
            class="nav__mobile_link"
            >Articles</a
          >
        </li>
        <li>
          <a
            href="/dating_tips"
            class="nav__mobile_link"
            >Dating Tips</a
          >
        </li>
        <li>
          <a
            href="/resources#resources__videos"
            class="nav__mobile_link"
            >Videos</a
          >
        </li>
        <li>
          <a
            href="/inspirational_graphics"
            class="nav__mobile_link"
            >Inspirational Graphics</a
          >
        </li>
        <li>
          <a
            href="/resources#resources__book_recommendations"
            class="nav__mobile_link"
            >Book Recommendations</a
          >
        </li>
      </details>
    </li>
    <li>
      <details>
        <summary>
          <span>The Meet-Cute</span>
        </summary>
        <li>
          <a
          href="/meetcute"
          class="nav__mobile_link"
          >Overview</a
        > 
        </li>
        <li>
          <a
            href="/meetcute/issue_4"
            class="nav__mobile_link"
            >Latest Issue</a
          >
        </li>
        <li>
          <a
            href="/meetcute#meetcute__issues"
            class="nav__mobile_link"
            >Back Issues</a
          >
        </li>
        <li>
          <a
          href="/meetcute#meetcute__subscribe_gifts"
          class="nav__mobile_link"
          >Subscribe</a
        >
        </li>
      </details>
    </li>
    <li>
      <details>
        <summary>
          <span>Work With Us</span>
        </summary>
        <li>
          <a
            href="/discovery_session"
            class="nav__mobile_link"
            >Schedule A Discovery Session</a
          >
        </li>
        <li>
          <a
            href="/content_creators"
            class="nav__mobile_link"
            >For Content Creators</a
          >
        </li>

      </details>
    </li>
    <li>
      <a href="#" class="nav__mobile_link"
        ><span class="nav__close_menu"
          >Close This Menu</span
        ></a
      >
    </li>
  </ul>
</nav>