---

//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS

//    ASTRO PAGE-SPECIFIC IMPORTS

//    FRAMEWORK-SPECIFIC IMPORTS 

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES


/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/

---

<div class="social_icons">
  <a href="https://www.linkedin.com/in/bernadettemsmith/" target="_blank">
    <img class="social_icons__icon" src="/assets/icons/linkedin-50.png" alt="LinkedIn icon." />
  </a>
  <a href="https://www.instagram.com/onlinedatingmatchmaker" target="_blank">
    <img class="social_icons__icon" src="/assets/icons/instagram-64.png" alt="Instagram icon." />
  </a>
  <a href="mailto:bernadette@compatibleconnections.biz">
    <img class="social_icons__icon" src="/assets/icons/email-50.png" alt="Email icon."/>
  </a>
  <a href="tel:215-968-4694">
    <img class="social_icons__icon" src="/assets/icons/phone-50.png" alt="Phone icon."/>
  </a>
</div>