---

//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS
import Checkbox from "./Checkbox.astro";

//    ASTRO LAYOUT IMPORTS 

//    ASTRO PAGE-SPECIFIC IMPORTS 

//    FRAMEWORK-SPECIFIC IMPORTS 

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/

---

<Checkbox>Know which online dating site is right for <span class="utility_classes__emphasis">you</span>.</Checkbox>
<Checkbox>Have a stellar dating profile that stands out & gets you great dates.</Checkbox>
<Checkbox>Know how to get a compatible partner's attention with just one sentence.</Checkbox>
<Checkbox>Effortlessly read between the lines of men's profiles, messages, & texts.</Checkbox>
<Checkbox>Know what ot say (and not to say) in e-mails, texts, and on first dates.</Checkbox>
<Checkbox
  >Know how to quickly ID & steer clear of phonies, liears, & players.
  </Checkbox
>
<Checkbox
  >Feel completely comfortable, safe, & in control on first dates.</Checkbox
>
<Checkbox
  >Be teeing up & window down great first dates that leave men you wantto see again wanting more.</Checkbox
>
<Checkbox
  >Discover what it is about you that actually attracts compatible men.</Checkbox
>
<Checkbox>Know how to sidestep the 3 massive dating mistakes divorced women make.</Checkbox>