---

//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS
import Checkbox from "./Checkbox.astro";

//    ASTRO LAYOUT IMPORTS 

//    ASTRO PAGE-SPECIFIC IMPORTS 

//    FRAMEWORK-SPECIFIC IMPORTS 

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/

---

<Checkbox>You're divorced and dating online for the first time.</Checkbox>
<Checkbox>You've tried online dating and it didn't work.</Checkbox>
<Checkbox>You're ready to stop feeling like you're "rolling the dice" with every date.</Checkbox>
<Checkbox>You want to become a confident, conscious dater who knows how to spot great guys online.</Checkbox>
<Checkbox>You want to know how to write messages that make men respond.</Checkbox>
<Checkbox
  >You'd like to know when men are lying or leading you on.
  </Checkbox
>
<Checkbox
  >You want to know your partner has long-term potential <span class="utility_classes__emphasis">before</span> you commit.</Checkbox
>
<Checkbox
  >You want to be sure the next man in your life is a genuinely compatible partner.</Checkbox
>
<Checkbox
  >Give you a better understanding of how men think & what they really want.</Checkbox
>
<Checkbox>Prevent you from ending up in another failed relationship.</Checkbox>