---

//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS
import Checkbox from "./Checkbox.astro";

//    ASTRO LAYOUT IMPORTS 

//    ASTRO PAGE-SPECIFIC IMPORTS 

//    FRAMEWORK-SPECIFIC IMPORTS 

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/

---

<Checkbox>
  I'm divorced, smart, successful, and loving.
</Checkbox>
<Checkbox>
  I have room in my life for a companion and a relationship.
</Checkbox>
<Checkbox>
  I'm happy with my life and ready to make finding love my #1 priority.
</Checkbox>
<Checkbox>
  I'm tired of being alone and getting nowhere.
</Checkbox>
<Checkbox>
  I'm ready to invest in myself to get this solved.
</Checkbox>
<Checkbox>
  I'm open to dating differently so that I find the <span class="utility_classes__emphasis">true</span> love of my life.
</Checkbox>
<Checkbox>
  I want to be a better partner picker.
</Checkbox>
<Checkbox>
  I'm not afraid to date; I'm afraid of making dating mistakes.
</Checkbox>