---

//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS

//    ASTRO LAYOUT IMPORTS 

//    ASTRO PAGE-SPECIFIC IMPORTS 

//    FRAMEWORK-SPECIFIC IMPORTS 

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/

---
<aside class="flexbox__basic_column" id="article__container_sidebar">
  <div>
    <h2>Follow Us On<br><a 
      href="https://www.instagram.com/onlinedatingmatchmaker" target="_blank">
      Instagram</a> and <a 
      href="https://www.linkedin.com/in/bernadettemsmith/" target="_blank">
      LinkedIn</a></h2>
    <div class="flexbox__basic_row article__social_icons">
      <a 
        href="https://www.instagram.com/onlinedatingmatchmaker" target="_blank">
        <img class="social_icon" src="/assets/icons/instagram-64.png" />
      </a>
      <a 
        href="https://www.linkedin.com/in/bernadettesmith/"
        target="_blank">
        <img class="social_icon" src="/assets/icons/linkedin-50.png" />
      </a>
    </div>
    <p>
      We post <a href="/inspirational-graphics" target="_blank">Inspirational Graphics</a> every Monday and <a href="/dating-tips" target="_blank">Dating Tips</a> every Friday.
    </p>
  </div>
  <div>
    <h2>Subscribe To <a href="/meetcute#meetcute__subscribe_gifts" target="_blank" class="utility_classes__clean_break_on_wrap"><i>The Meet-Cute</i></a></h2>
    <img
      src="/assets/images/meet_cute/mc-masthead-no_issue_number.png"
      alt="The Meet-Cute's masthead."
      loading="lazy"
    />
    <p>
      <i>The Meet-Cute</i> is Compatible Connections' way of saying “thank you” to all the fabulous singles who make our work possible.
    </p>
    <p>
      Whenever we can, we share a heartfelt e-mail with our subscribers, chocked full of fun, light, flirty, and informative content.
    </p>
    <p>
      Curiosuity piqued?  Read our <a href="/meetcute/issue-4" target="_blank">current issue</a>, peruse <a href="/meetcute#meetcute__issues" target="_blank">back issues</a>, or <a href="/meetcute/#meetcute__subscribe_gifts" target="_blank">subscribe</a> to learn more.
    </p>
    <p>
      All new subscribers receive two free gifts - <span class="utility_classes__strong">8 Things Online Dating Sites Don't Want You To Know</span> and a <span class="utility_classes__strong">Partner With Yourself First Personal Inventory</span> - when they <a href="/meetcute#meetcute__subscribe_gifts" target="_blank">sign up</a> to receive new issues.
    </p>
  </div>
  <div>
    <h2>Share Your Thoughts</h2>
    <p>If you have any questions or thoughts about this article, we'd love to hear from you!</p>
    <p><a href="mailto:bernadette@compatibleconnections.biz">Click here</a> to <a href="mailto:bernadette@compatibleconnections.biz">e-mail Coach Bernadette</a> at bernadette at compatibleconnections dot biz.</p>
  </div>
</aside>