---

//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS

//    ASTRO LAYOUT IMPORTS 

//    ASTRO PAGE-SPECIFIC IMPORTS 

//    FRAMEWORK-SPECIFIC IMPORTS 

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/

---
<div class="flexbox__basic_row" id="article__container_bio">
  <img src="/assets/images/coach_bernadette-full_body-polka_dot_dress.jpg" alt="Coach Bernadette smiling in a black-and-white polka dot dress with a pink cardigan." loading="lazy">
  <div class="flexbox__basic_column">
    <h2>About Coach <span class="utility_classes__clean_break_on_wrap">Bernadette Smith, MCC</span></h2> 
    <p>Bernadette Smith, MCC is a certified dating & relationship expert with over a decade's worth of experience.  She is the funder of Compatible Connections, a boutique coaching firm that specializes in helping divorced women become confident, conscious daters.</p>
    <p class="utility_classes__center">You can read more about Bernadette's <a href="/certifications" target="_blank">coaching certifications</a> here.</p> 
    <p class="utility_classes__center">You can read Bernadette's <a href="/bio" target="_blank">personal bio</a> here.</p>
  </div>
</div>