---

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/

---

<div class="block_image_and_text">
  <slot name="image" />
  <div>
    <slot name="text" />
  </div>
</div>
